html,
body{
	height :100%;
	font-size: 1rem;
	font-family: 'Noto Sans JP', sans-serif;
}
.gradient{
	background: rgb(38,34,34);
background: linear-gradient(90deg, rgba(38,34,34,1) 100%, rgba(1,1,1,1) 100%, rgba(255,255,255,1) 100%);
}

.page-header{
	margin-top: 4rem;
	font-size: 1.25rem;
	color : #fff;

}
